# Editor / IDE
.vscode/
.idea/
*.iws
*.iml
*.ipr
out/

# Environment
**/.env
!**/.env.example

# OS
.DS_Store

# Claude / Cursor
*CLAUDE.md
.cursorrules/
.cursorrules

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Python data
*.db

# Node
node_modules/

# Build artifacts
lib/
target/
